{{- /*
  NOTE: This secret is created in a different namespace (rhoai-model-registries) than the Helm release.
  Helm cannot properly manage cross-namespace resources, so this secret should be created manually
  or via a pre-install hook.
  
  To create manually:
    oc create secret generic pgvector-model-registry \
      --from-literal=password=<your-password> \
      -n rhoai-model-registries
  
  The model-registry chart's own secret.yaml will also create a secret, but with a different name.
  The ModelRegistry CR expects the secret name from postgres.secretName helper (postgres.name value).
*/ -}}
{{- if index .Values "model-registry" "enabled" }}
{{- $mrNamespace := index .Values "model-registry" "namespace" | default .Release.Namespace }}
{{- $postgresName := index .Values "model-registry" "postgres" "name" }}
{{- $postgresPassword := index .Values "model-registry" "postgres" "password" }}
---
# Secret for Model Registry PostgreSQL connection
# Using a pre-install hook to ensure the namespace and secret exist before other resources
apiVersion: v1
kind: Secret
metadata:
  name: {{ $postgresName }}
  namespace: {{ $mrNamespace }}
  labels:
    app: {{ $postgresName }}
    app.kubernetes.io/name: model-registry
    app.kubernetes.io/instance: {{ .Release.Name }}
    app.kubernetes.io/managed-by: {{ .Release.Service }}
  annotations:
    "helm.sh/hook": pre-install,pre-upgrade
    "helm.sh/hook-weight": "-10"
type: Opaque
stringData:
  password: {{ $postgresPassword | quote }}
{{- end }}
