{{- if index .Values "model-registry" "enabled" }}
{{- $mrNamespace := index .Values "model-registry" "namespace" | default .Release.Namespace }}
{{- $mrName := index .Values "model-registry" "name" }}
{{- $postgresPassword := index .Values "model-registry" "postgres" "password" }}
---
# Secret for Model Registry PostgreSQL connection
# This secret is created in the model-registry namespace to match what the ModelRegistry CR expects
apiVersion: v1
kind: Secret
metadata:
  name: {{ $mrName }}
  namespace: {{ $mrNamespace }}
  labels:
    app: {{ $mrName }}
    app.kubernetes.io/name: model-registry
    app.kubernetes.io/instance: {{ .Release.Name }}
    app.kubernetes.io/managed-by: {{ .Release.Service }}
type: Opaque
stringData:
  password: {{ $postgresPassword | quote }}
{{- end }}
