apiVersion: v1
kind: Secret
metadata:
  name: storage-config
  namespace: {{ namespace }}
type: Opaque
stringData:
  minio-secret: |
    {
      "type": "s3",
      "access_key_id": "minio",
      "secret_access_key": "minio123",
      "endpoint_url": "http://minio-service.{{ namespace }}.svc.cluster.local:9000",
      "default_bucket": "{{ bucket }}",
      "region": "us-east-1"
    }
